<h1 id="title">#NadieAPie</h1>
{{outlet}}
<p><small>Este servicio tambien funciona por SMS. Envia un mensaje al <strong><a href="sms://+17873311145">(787) 331-1145</a></strong> que diga primero donde estas esperando y luego donde tienes que llegar, separado por un coma. Por ejemplo: <strong>San Patricio, Santurce</strong></small><br></p>
